[2014-07-26 21:02] PhiZero opened #6 "banList.txt missing in repo"
Getting [Errno 2] No such file or directory: 'banList.txt' on a clean install.

[2014-07-26 21:06] PhiZero opened #7 ""Exit" command"
Would it be possible to add an exit command to terminate the server with (for convenience)?

[2014-07-26 22:56] #6 closed, assigned to nobody

[2014-07-26 23:02] #7 closed, assigned to nobody

[2014-07-29 04:30] cyberkitsune opened #10 "Sometimes a player isn't always registered when they initially change blocks."
SEGA ID will appear as None, causes disconnect.

[2014-07-31 17:59] VariantXYZ opened #17 "Include in-game !help command"
Setup an in-game command to list out simple documentation on available commands.

e.g.)
!help

Return:
Something something PSO2 Proxy Commands
IRC Channel: irc.badnik.net #pso2proxypublic

|count - Returns the number of people currently on your proxy

|g <Message> - Sends to the global inter-proxy chat channel

|goff - Disables and mutes the inter-proxy chat channel for you.

|gon - Enables and sh

[2014-08-01 21:23] DistantThunder opened #21 "Indentation issue"
There a space at the beginning of line 97 before the tabs in the main 'proxy/PSO2Proxy.py' file that makes the python interpretor complain about inconsistend indentation and thus refusing to start the program.

[2014-08-02 20:02] #21 closed, assigned to nobody

[2014-08-04 19:31] XenoWarrior opened #26 "Need some transparency on the RSAKeyDumper DLL"
Hey, just like to say great work with the server!

I've have been checking the project out and decided to setup up my own server. I'm having one issue though. I have no idea where to place the .dll files that are in /tools.

[PSO2Tweaker method]
"To use this with PSO2Tweaker, enable the Item Translation patch and rename the dll to rsainject.dll."

I am not exactly sure what folder the RSAKeyDumper

[2014-08-05 05:26] PhiZero opened #28 "Admin commands throw exceptions"
File "/PSO2Proxy/proxy/config.py", line 81, in is_admin
        if sega_id in globalConfig.get_key('admins'):
    exceptions.TypeError: argument of type 'NoneType' is not iterable

The error is that using the "op" console command when the admin list is empty, it adds a null entry. Using "op" after that throws the above exception. Same problem with using deop on the last user in the list.

When hav

[2014-08-05 06:53] PhiZero opened #29 "Suppressing ProxyFactory messages in log when "noisy" is false"
Any chance to have the following messages in the log supressed when the the "noisy" config option is set to false? They make up a majority of the log.

2014-08-05 06:36:49+0000 [-] Starting factory <**main**.ProxyFactory instance at 0x16a8fc8>
2014-08-05 06:36:49+0000 [-] ProxyFactory starting on 12810

[2014-08-05 13:31] cyberkitsune opened #30 "PSO2Proxy uses way too many sockets."
This is a bug. The protocol normally uses ~999 TCP ports but technically could be made way more efficient.

This ticket will stay open until a new method of handling this is implemented. Feel free to help brainstorm in the comments.

[2014-08-05 13:33] cyberkitsune opened #31 "Allow configurable amount of ships."
Temporary workaround for bug #30.

[2014-08-05 13:34] #17 closed, assigned to nobody

[2014-08-05 14:04] #28 closed, assigned to cyberkitsune

[2014-08-05 19:25] michael-fadely opened #33 "Emergency Quest API"

[2014-08-05 20:12] michael-fadely opened #34 "Web "RCON" API"

[2014-08-05 20:14] michael-fadely opened #35 "Reloadable block names"
This way you can change them without restarting the whole server.

[2014-08-06 01:07] #34 closed, assigned to cyberkitsune

[2014-08-06 01:09] #35 closed, assigned to cyberkitsune

[2014-08-06 01:09] #31 closed, assigned to cyberkitsune

[2014-08-06 01:15] alama opened #36 "Add Ship Number to GlobalChat plugin like [G-##]"
Users seem to ask who are on what ship alot, let include that ship number in the proxy chat

[2014-08-06 01:55] #36 closed, assigned to cyberkitsune

[2014-08-06 14:02] NextTime000 opened #37 "globalchat.py autoexec runs too early"
looks like my identify command is not going off when it should be, and I can't seem to manually send the /msg command properly either.

if I do have the power to do this then that just means ~somebody~ is lacking in their documentation

[2014-08-06 15:30] NextTime000 opened #38 "Color and other formatting between irc and in-game globalchat.py"
it would be neat if when I send a message in-game through proxy chat like "{red}RED TEXT WOOO" that when the IRC bot posts it in the IRC channel that the red text portion is properly red text instead of displaying {red}.

also the reverse would also be neat, sending a colored IRC message that is properly formatted in-game, though you would want to strip out any formatting characters that the game

[2014-08-07 02:49] #38 closed, assigned to cyberkitsune

[2014-08-07 02:49] #26 closed, assigned to cyberkitsune

[2014-08-07 12:14] #37 closed, assigned to nobody

[2014-08-08 22:30] NextTime000 opened #52 "Globalchat Mute feature"
Sometimes a person is being obnoxious in chat, either through saying Terrible Things, normal spam, or the unthinkable; using Global Chat Autowords.

I feel everyone should have the option to have Global Chat enabled, but if someone is being terrible the admins should have the ability to mute them from saying anything more, maybe unmute them later, but are still able to see everyone chatting in the

[2014-08-09 08:54] #52 closed, assigned to cyberkitsune

[2014-08-09 08:56] #30 closed, assigned to cyberkitsune

[2014-08-13 02:36] #33 closed, assigned to nobody

[2014-08-13 09:18] cyberkitsune opened #61 "The data buffer read while loop can get stuck"
The ShipProxy read loop can get stuck if a packet reports an invalid length. (Zero or negative. ) This will cause the proxy to lock up.

[2014-08-13 23:29] NextTime000 opened #63 "What ship are they on?"
the "clients" command tells you everything except what ship each client is playing on

[2014-08-13 23:32] NextTime000 opened #64 "unhandled error"
I honestly don't know where else to put this, but I saw someone trip an error in the console so here is a paste-dump of it and the console entries around it: http://pastebin.com/9CrA5ZzB

I censored out anything I did not want to post, but if you need some of that data I can send it in a more private fashion.

[2014-08-14 19:59] danyjex opened #66 "Chosing proxy chat color"
Would involve researching if party / all / team chat packet uses the same structure.

[2014-08-15 23:01] #66 closed, assigned to nobody

[2014-08-17 05:12] #64 closed, assigned to nobody

[2014-08-21 00:19] alama opened #72 "PSO2Proxy to Checks ships on round robin on port 12#99, just like the real PSO2"
Some of the proxies having issues connecting to 210.189.208.1:12199
we should connect to 210.189.208.16:12299, etc. and handle timeouts and just check another ship's status

[code]

[2014-08-21 01:27] #63 closed, assigned to cyberkitsune

[2014-08-21 08:02] acffordyce973 opened #74 "Clients remaining connected to the proxy but freezing."
It looks like, randomly, whenever someone is trying to get the ship status the proxy is causing the clients to disconnect from the SEGA servers. The clients are remaining connected to the proxy, and do not get any error messages in-game, but are effectively frozen.
This issue has happened again after a proxy and server restart, and has happened twice so far.

The error messages, as taken from the

[2014-08-22 02:10] #29 closed, assigned to nobody

[2014-08-22 02:37] #72 closed, assigned to nobody

[2014-08-22 02:37] #74 closed, assigned to cyberkitsune

[2014-08-24 00:31] DistantThunder opened #81 "Proxy server Public/Private RSA keys size"
I noticed upon reinstalling the PSOProxy server that it can't use an RSA Public/Private pair of keys when the key size exceed 1024 bits. Is this a limitation of the original client that doesn't support public keys of higher size or is this on PSO2Proxy side ?

Just curious as I went almost crazy not understanding why I got "Server timed out" message and have been messing with keys for an hour and

[2014-09-07 05:12] alama opened #94 "EQ Noitce to IRC code is broken"
Unhandled error in Deferred:
Unhandled Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/twisted/web/_newclient.py", line 1154, in _bodyDataFinished_CONNECTED
    self._bodyProtocol.connectionLost(reason)
  File "/usr/lib/python2.7/dist-packages/twisted/web/client.py", line 1964, in connectionLost
    self.deferred.callback(b''.join(self.dataBuffer))
  File "/usr/li

[2014-09-07 16:41] #94 closed, assigned to nobody

[2014-09-08 15:28] XenoWarrior opened #100 "Translate.py"
Just tried to use the Translate.py plugin to find "no module named unicodescript"
Not sure if there is something I need to install or if there is an issue with the translate plugin.

Screenshot:
http://puu.sh/bqLAQ/1330c85f54.png

[2014-09-09 14:26] #100 closed, assigned to nobody

[2014-09-20 05:27] #61 closed, assigned to cyberkitsune

[2014-09-20 05:27] #81 closed, assigned to nobody

[2014-09-20 05:27] #10 closed, assigned to nobody

[2014-09-28 05:29] NextTime000 opened #111 "User Timeout"
http://pastebin.com/z8sfpmcn

user reported that they were left hanging while trying to login, console/server log had this error waiting.

[2014-10-01 15:56] himie opened #114 "Block names not updating"
Since last week the english block names have stayed with the previous list and doesn't update. Is there a cache I have to delete?

http://i.imgur.com/kBuVysM.jpg

[2014-10-03 02:13] joelspadin opened #115 "UnicodeEncodeError while trying to log in"
After grabbing the latest 4 commits, I can no longer log in. I get the following output after entering my username and password:

[code]

I am running this from an Amazon Linux AMI system.

[2014-10-03 02:49] #115 closed, assigned to nobody

[2014-10-04 20:47] NextTime000 opened #116 "Major Connection Issues"
I am watching my server log and people are getting 630'd left and right.

it is like they are playing musical chairs here. it seems to have started around 3pm EDT on 10/4/14, an hour before the Mine Defense 3 that was scheduled. I'd provide logs but i want to see if I can remove the IP addresses of my clients or contact me privately for them

[2014-10-09 02:59] joelspadin opened #117 ""Server connection timed out" when logging in"
After the latest PSO2 update, and after grabbing the latest commit and restarting my instance of PSO2Proxy, I am no longer able to connect using my instance of the proxy. PSO2 Tweaker sees that the server is online, and the game sees that all ships are online, but when I enter my username and password to log in, I always get a "Server connection timed out" error.

The public instance of the proxy

[2014-10-10 07:04] Yumenekonya opened #118 "Is anyone able to connect"
I was connecting until 3am and when I tried to get on now I can't it gives me this error now
![dwm 2014-10-10 16-04-23-03](https://cloud.githubusercontent.com/assets/9129330/4588877/b45bb2de-504b-11e4-9524-9ad4848224a2.jpg)

[2014-10-12 07:55] #118 closed, assigned to nobody

[2014-10-12 07:56] #117 closed, assigned to nobody

[2014-10-12 07:57] #114 closed, assigned to cyberkitsune

[2014-10-12 07:57] #111 closed, assigned to nobody

[2014-11-09 14:38] #116 closed, assigned to nobody

[2014-11-23 05:45] AmericanEnglish opened #121 "None-Type's and 630's at login"
Upon First login users are 630'd and then are able to login upon the second login are allowed on. New None-Type users are generated. As seen in the images
![problem2](https://cloud.githubusercontent.com/assets/9370077/5156731/0b0e2e74-72aa-11e4-93eb-bfef1d968142.png)

[2014-12-23 21:02] kamijoutouma opened #126 "if you forget # in channel name in cfg it causes all types of problems"
recommend making it so that it errors and doesnt join if you forget # in the beginning of the channel name otherwise messages wont be sent back and forth and everything will be name + host

yes im talking about gchat irc

[2014-12-24 13:08] belldandu opened #130 "weird issue with g command when in pso2"
http://i.imgur.com/jIOy3BV.png
this error randomly popped up and when i restarted the proxy it went away >.> was wondering if there is a way to prevent that error

[2014-12-24 14:49] #130 closed, assigned to nobody

[2014-12-24 15:14] nixxquality opened #131 "Server connection timed out / Could not decrypt RSA for client"
I'm running a PSO2Proxy instance on a VPS but it stopped working after today's maintenance.

In the client, the error message `Server connection timed out` is shown when attempting to sign in.
On the server, the following error message is shown:

[code]

I'm running through the PSO2 Tweaker with the exact same steps that have been working before.

[2014-12-24 16:03] #131 closed, assigned to nobody

[2015-01-01 03:04] kamijoutouma commented on #126
closing this now since the issue has been resolved when #129 was merged

[2015-01-01 03:04] #126 closed

[2015-01-01 03:08] kamijoutouma commented on #121
@cyberkitsune I will look into this and try to find why this is happening
I will comment again if i find anything

[2015-01-02 16:56] AmericanEnglish commented on #121
When this happened it happened most during the "feed" (the hash value) update. I had to dial the server back to a previous version. Although it does STILL happen i noticed it most when Linode was being DDoS'ed. When people try to connect it would register them as connected but their PID would be empty similar to this.  Very rarely i do notice the server will say that more people are connected than

[2015-01-28 02:07] kamijoutouma commented on #121
hmm let me know when it happens again and i will look into it again for now i have found nothing

[2015-02-15 05:05] alama opened #138 "Proxy load rules"
It seems we have an user, HyperAmy7, from IP 99.59.4.126, that can connect the JP server fennec? but not US server arcticfox?, it just disconnect them, for now, he is using my proxy server, it would be nice to have a set of rules we can setup to know when not to send users to proxy server that would just disconnect them

[2015-02-16 02:22] flyergo opened #139 "Adding install instructions for certain plugins"
I just enabled the Translation plugin for my proxy by symlink-ing it.
But it didn't work at first because i didn't install the **unicodescript** and **goslate** libs.

[And it seems i wasn't the only one with these kind of problems.](http://www.pso-world.com/forums/showthread.php?t=222144)

I solved my problem in the end by doing the following:

<code>
apt-get install python-pip | pip install unic

[2015-02-16 07:13] acffordyce973 commented on #139
Instructions are already available in the Wiki: https://github.com/cyberkitsune/PSO2Proxy/wiki/Enabling-Proxy-end-Translations

[2015-02-16 09:56] flyergo commented on #139
Oh I see. I didn't take a look into the wiki, yesterday. My bad then.

Thanks for 2bfa8b2c5a6e4f361aa938f5d81af7cb73d5124e.

This might help others, too.

[2015-02-16 09:56] #139 closed

[2015-02-27 23:35] nixxquality opened #141 "Users can't log in if environment running the proxy doesn't support UTF-8"
[code]
[proxy/ShipProxy.py](https://github.com/cyberkitsune/PSO2Proxy/blob/master/proxy/ShipProxy.py#L188-L189)

I had some issues with my locale settings where UTF-8 wasn't enabled properly, so whenever someone tried to connect this print command failed (UnicodeEndodeError) and they got disconnected.
The solution was simply to fix my LC_ environment variables, but it seems pretty dumb that loggin

[2015-03-05 01:14] HOOCCOOH opened #143 "There seems to be sth wrong with my server"
I tried to connect my own server and it show like this

[ShipProxy] Opened listen socked on port 12136 for new ship.
[BlockCache] Cached new block for ship 12100, Holding onto it for 5 minutes...
[ShipProxy] Opened listen socked on port 12119 for new ship.
[BlockCache] Cached new block for ship 12100, Holding onto it for 5 minutes...
[ShipProxy] New client connected!
[ShipProxy] Client is looking

[2015-03-05 02:05] alama commented on #143
It looks like you did not enable UTF-8 support on your server

[2015-03-05 02:37] HOOCCOOH commented on #143
root@default:~/PSO2Proxy/proxy# dpkg-reconfigure locales
Generating locales...
  en_US.UTF-8... up-to-date
Generation complete.
root@default:~/PSO2Proxy/proxy#

it just show thing above

[2015-03-05 02:45] alama commented on #143
there 2 half to this: UTF-8 support in libc and UTF-8 support in the SSH client/terminal, it seems the 2nd half is not true, what are you using?

[2015-03-05 02:49] HOOCCOOH commented on #143
I use PuTTY

[2015-03-05 02:50] alama commented on #143
http://thegreyblog.blogspot.com/2009/08/configuring-putty-to-use-utf-8.html

[2015-03-05 02:55] HOOCCOOH commented on #143
Still not working
Do I need to reboot my server?
[ShipProxy] Client is looking for block on port 12140...
Unhandled Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/twisted/python/log.py", line 73, in callWithContext
    return context.call({ILogContext: newCtx}, func, *args, **kw)
  File "/usr/lib/python2.7/dist-packages/twisted/python/context.py", line 118, in ca

[2015-03-05 02:58] alama commented on #143
let see...
Ubuntu 14.04, what arch? and output of 'dpkg -l python-twisted python-crypto python-yaml python-faulthandler python-pip openssl git'

[2015-03-05 02:59] HOOCCOOH commented on #143
root@default:~# dpkg -l python-twisted python-crypto python-yaml python-faulthandler python-pip openssl git
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name           Version      Architecture Description
+++-==============-============-============-==========

[2015-03-05 03:01] HOOCCOOH commented on #143
root@default:~/PSO2Proxy/proxy# arch
i686

[2015-03-25 14:27] yucachaaaan opened #150 "Error 630 when changing to vita blocks"
![ss 2015-03-25 at 10 20 52](https://cloud.githubusercontent.com/assets/5484761/6826564/4ffee4bc-d33d-11e4-95cc-aeadf0b23ab0.png)

I am able to login with my credentials and got into any block. However, when attempting to change blocks, I get an Error 630. Tried deleting blocknames.resources.json and it still happened.

A friend of mine is able to change blocks, and he didn't pull the latest versi

[2015-03-25 21:05] acffordyce973 commented on #150
Confirming an issue changing to Vita blocks (tested on the public proxy). @cyberkitsune you might want to check this out.

[2015-03-25 21:05] #121 closed

[2015-03-25 21:06] #138 closed

[2015-03-25 21:06] #143 closed

[2015-03-25 22:45] flyergo commented on #150
Also block translation doesn't seem to work for block others than your own.
Might be related.
![blocktranslations](https://cloud.githubusercontent.com/assets/10029199/6837110/fb620cf2-d348-11e4-8ee3-fa2a379b794e.png)

[2015-03-25 23:14] #150 closed

[2015-03-25 23:24] cyberkitsune commented on #150
@flyergo for the record, that also was caused by the same bug :)

[2015-03-25 23:35] flyergo commented on #150
@cyberkitsune when I first saw it I already thought that is weird... and since everything else seemed to work I didn't open a bug for it. Then somebody on my team said he always gets disconnected if he changes to vita blocks, then it came to me. And that's about the time when you noticed it. =)

[2015-03-27 00:36] alama commented on #150
Yes, also noticed switching to VIta blocks with a local proxy results in a 630 error, and the server is at 7319380

[2015-03-28 20:23] flyergo opened #151 "Incoming japanese chat messages are not getting translated in Challenge Quests"
Hello, this issue bugged me already for some time.
I could finally take a closer look at this. First I tought it is a problem with the configuration of my system, but this doesn't seem to be the case. I tested it just now on the public PSO2Proxy.

And here is the result:

![translation_issue](https://cloud.githubusercontent.com/assets/10029199/6882726/d1373774-d58f-11e4-9865-21061ce6112a.png)

Kur

[2015-06-04 04:17] kamijoutouma opened #152 "ChatTranslator.py plugin not working on Shared Ship"
http://pastebin.com/LT7caxmZ

http://pastebin.com/VBS93Gyr (full log)

the main issue is that the translation is failing because it's 503'ing meaning it's timing out

any idea what could be causing this?

- [x]  find reason for issues with translation of chat messages (https://github.com/cyberkitsune/PSO2Proxy/issues/151 - similar but yeah these errors might be the cause)

~~an unhandled error (wi

[2015-06-04 04:52] kamijoutouma commented on #152
goslate updated

To fix said issue just type this
[code]

[2015-06-04 04:54] kamijoutouma commented on #151
Refer to my second comment in the issue i mention this issue in.

After that this can be closed

[2015-06-04 04:55] kamijoutouma commented on #152
@cyberkitsune recommend updating goslate on public server

[2015-06-04 05:17] kamijoutouma commented on #152
G-11 or the shared server incoming messages are not translated but outgoing ones are
However there are no 503's?
should probably add the shared server to the list of servers +1

[2015-06-04 05:19] TheCrimsonDevil commented on #152
I attempted to update the packages, but it looks like I don't have sudo access. Will poke CK about this. Thanks!

[2015-06-04 05:38] kamijoutouma commented on #152
@TheCrimsonDevil @cyberkitsune will verbose to see if incoming packet is different on shared ship

[2015-06-05 11:12] acffordyce973 commented on #152
This has been an issue since Challenge mode and shared ships were released. @cyberkitsune might want to look into it when able.

[2015-06-05 11:17] kamijoutouma commented on #152
I have provided acf alam_squeeze cyberkitsune and aida with my packets from the packet logger in a zip file in irc

Also it appears that party member incoming messages are translated on shared ship. However non party member messages are not.

Also if possible I think private messages should be translated too

[2015-07-08 01:36] cyberkitsune commented on #141
Fixed this in 05ab244aa5205ceba6c4eb03becb8d8e5743fe43

[2015-07-08 01:36] #141 closed

[2015-07-08 01:39] cyberkitsune commented on #151
Duplicate of #152

[2015-07-08 01:39] #151 closed

[2015-07-10 23:16] cyberkitsune commented on #152
Can't reproduce with current version of PSO2Proxy and modules.

[2015-07-10 23:16] #152 closed

[2015-07-12 10:38] kamijoutouma commented on #152
You can reproduce this by going into a quest on the shared ship. Japanese characters are not translated there.
They are however translated in lobby now :).

[2015-07-12 11:41] kamijoutouma commented on #152
http://i.imgur.com/l3wx9zi.jpg
http://i.imgur.com/Sx6iK0N.jpg

[2015-07-13 18:43] kamijoutouma commented on #152
Did some testing. Turns out sega uses the team chat packet on shared ship for messages sent from people not in your party that are in quest with you.

Thanks sega :|

[2015-07-13 20:21] kamijoutouma commented on #152
would be nice if this could be reopened.

[2015-07-13 20:28] kamijoutouma opened #154 "On shared ship ONLY, Make Team Packet be handled differently in Translator.py"
Did some testing. Turns out sega uses the team chat packet on shared ship for messages sent from people not in your party that are in quest with you.

Thanks sega :|

Here's a new task.

- [ ] Make Team packet be handled differently ONLY when sent from shared ship

Use this for reference to the original issue: https://github.com/cyberkitsune/PSO2Proxy/issues/152

Here are some screenshots after ad

[2015-08-17 00:12] Norenia opened #155 "Error 630 on Featured Quest block, Time Attacks block, and leaving Shared Ship"
Possible that leaving Shared Ship ended up directing me to one of those two blocks without my input. After the error takes me back to the ship screen, I am unable to log in again. After shutting down the game and restarting, it is still unable to connect once, but finally connects after that.

[2015-08-17 02:25] alama commented on #155
I said, up the timeout on the sockets, maybe?

And this issue not only affecting the public proxy, private ones as well, I had to retry 27 times to connect with my own proxy....

`[-] Timing out client: IPv4Address(TCP, '###.###.###.###', #####)`

`[-] Unhandled Error
	Traceback (most recent call last):
	Failure: twisted.internet.error.TimeoutError: User timeout caused connection failure.`

[2015-08-17 07:08] cyberkitsune commented on #155
It could be because of port issues too; SEGA could be finally assigning blocks no non unique ports.

[2015-08-29 20:18] #154 closed

[2015-08-29 23:04] alama commented on #155
change 17b6a46 should help, making the timeout be done by the game servers, not by the proxy

[2015-08-31 13:24] tessar9070 commented on #155
it's proxy
try copy pate's proxy

2015-08-30 6:04 GMT+07:00 Alam Arias <notifications@github.com>:

[2015-09-03 19:36] kamijoutouma commented on #154
Thanks guys

[2015-09-07 04:34] kamijoutouma opened #165 "Team chat translated packet might not be formatted correctly"
http://imgur.com/B7Eya1g,QmjZDZX,5uIffYv

Pretty sure everyone in team chat can see the message though as they responded the first time i posted it before i decided to take a screenshot.

Further Testing should be done.

[2015-09-07 06:02] cyberkitsune commented on #165
Team chat does not support translation.

[2015-09-07 13:38] kamijoutouma commented on #165
Are you sure because when i post messages in the team chat it translates them. The shared ship works properly now so there could be an issue in the code thats not telling it that i'm not on the shared ship.

@cyberkitsune

[2015-09-07 18:01] kamijoutouma commented on #165
Public proxy still needs to be restarted at some point and alam fixed my private proxy.

[2015-09-07 18:01] #165 closed

[2015-10-07 01:23] takaizu91 opened #170 "EQ Notice for ship02 only?"
Hi, I need some help with my pso2proxy setup. It's not an issue but a query

Can I set EQ_Notice to point other ship eq notice (eg. ship09) because sometimes other ship have different EQ time.

Thanks in advance

[2015-10-07 01:28] alama commented on #170
There is only one public source for EQs from PSO2 EQ and it is for Ship 02

[2015-10-07 01:29] alama commented on #170
Flyergo's EQ_Notice2 plugin may do for you:
https://github.com/flyergo/PSO2Proxy/blob/master/proxy/plugins/disabled/EQ_Notice2.py

[2015-10-07 02:50] takaizu91 commented on #170
I see.. I'll give it a try but since pso2 is on maintenance, I'll report back later

[2015-10-07 18:37] flyergo commented on #170
Sure you can use it if you want. It works a bit different from the original EQ_Notice, since my plugin always shows ALL ships. (For those who want to switch ships for EQs)

I simply use the public EQ data from a japanese twitter feed (https://twitter.com/pso2_emg_hour) translate it and return it via webservice (http://pso2emq.flyergo.eu/api/v2/) so I can use it for the website (http://pso2emq.flye

[2015-10-08 01:05] takaizu91 commented on #170
Thanks flyergo for the permission. I already test your plugin and find this useful but it would be nice just to show a single ship EQ because me and my team mates happens to be in one ship only so other ships is unnecessary.

It would be nice if you could teach me on how to create webservice for this eq.

[2015-10-08 08:07] flyergo commented on #170
No problem. Everyone is free to use it.

Because of how it works currently it only shows everything, but if you want you can build a own webserver in whatever language suits you and parse it so it only shows the things you want to see or even use a different source.

The only thing that might be a bit tricky with my source are scheduled EQs, cause they come in a different format. Either for all sh

[2015-10-08 08:09] #170 closed

[2015-10-24 11:36] StormX0 opened #172 "Need help !"
I had download Pso 2 Tweaker last week. When i login game and create character then i press play. the loading screen appear but the game has stuck in that.

I set proxy, run troubleshooting, update game, uninstall and reinstall game but not change.

Please help me guy !

Sorry, my english isn't good

[2015-10-24 11:42] acffordyce973 commented on #172
Corrupted game client issue, not an issue with the proxy code.

Possible fix: Open PSO2 Tweaker > Orb Menu at the top left > Troubleshooting menu > Check for Old/Missing Files > Launch the game without any English patches to test.

If that doesn't work then join our support room using the information here https://github.com/cyberkitsune/PSO2Proxy/wiki/Troubleshooting#irc-support

[2015-10-24 11:42] #172 closed

[2015-10-27 14:41] tessar9070 commented on #172
me to it's not work
so ???

2015-10-24 18:42 GMT+07:00 acffordyce973 <notifications@github.com>:

[2015-10-28 08:59] #155 closed

[2015-10-30 10:12] tessar9070 commented on #172
I was overcome with reinstall my PC and could eventually
and sorry I translate through google translation
-_-Leo-_-

2015-10-27 21:41 GMT+07:00 arga tessar <salah.tessar@gmail.com>:

[2015-10-30 10:18] tessar9070 commented on #155
use vpngate existing in-world pso2 forum
or doing manual proxy on a network machine

2015-10-28 15:59 GMT+07:00 acffordyce973 <notifications@github.com>:

[2016-01-27 07:57] EXOxNet opened #175 "[Request] Something about logged in logged out for proxy users"
Excuse me, i wanna request something about pso2proxy feature/plugin.

Feature/plugin: logged in and logged out for all proxy user inside proxy through System Chat.
Using player name,
i.e. : [Proxy] %PlayerName% has logged in. / [Proxy] %PlayerName% has logged out.

Sorry if wrong session/place.
Thanks.

[2016-02-03 12:49] yucachaaaan commented on #150
Okay, seems that after Episode 4, the issue persists (even after downloading the SEGA keys from IRC, pulled the latest version). Happens on every block, and my team mate also has the same problem.

[2016-02-03 12:56] acffordyce973 commented on #150
You mean that the issue has returned. Will check and confirm or not.

[2016-02-03 14:06] acffordyce973 commented on #150
Unable to reproduce on the public proxy. Tried most of the Vita blocks and block change is fine. Sounds like an issue with your configuration.

[2016-02-04 13:05] yucachaaaan commented on #150
Seems like it. I didn't reboot when I updated the server for a long time, so something might have caused from that. Works fine now.

[2016-02-12 14:20] lifeiscontent opened #176 "Proxy Usage for SEA?"
Hi there, I noticed PlayPark has a PSO2 English Client and was wondering if your proxy services work with the SEA servers?

If so, how do I set that up?

[2016-02-12 14:31] acffordyce973 commented on #176
The proxy will not work with SEA in its current form, and we won't support it ourselves. Someone would need to fork the project and make the changes themselves.
See here: https://github.com/cyberkitsune/PSO2Proxy/wiki/Troubleshooting#please-note

[2016-02-12 14:31] #176 closed

[2016-02-12 21:02] lifeiscontent commented on #176
@acffordyce973 thanks for the info, is the reason being that the client is vastly different? or would I effectively just have to create a private proxy and run it through the different IPs of SEA?

[2016-02-12 21:29] acffordyce973 commented on #176
Yea, the packets for the SEA client are different. Simply changing the IPs would probably be enough to show the ships as online but nothing else would work.

[2016-02-13 01:00] cyberkitsune commented on #176
@lifeiscontent the primary reason is that I do not wish to support asiasoft or the SEA version of PSO2. The game is behind in updates by a large amount, the localization is terrible and inaccurate, the asiasoft is milking the game to be pay to win.

From a technical standpoint there would be only little modifications needed to make it work (mostly packet padding changes) but I don't wish to suppor

[2016-02-13 01:13] lifeiscontent commented on #176
@cyberkitsune I see, thank you very much for the info. I think I'll continue playing the JP version you have made very good points and I agree with them :)

[2016-02-16 05:22] EXOxNet opened #177 "Trying to enabling Translator.py but got error"
As i say in title issue.

what i got :
[code]

what i do:
I try this on new VPS, clone this github, set "myIpAddr" from my VPS's IP, using newest sega key, create my private / public keypair, make translator.py symlinks, start up the server, and got this error.

Attached Image :
![untitled](https://cloud.githubusercontent.com/assets/16914200/13067877/ebd2ba3c-d4a7-11e5-8e37-9c03e5c7275b.jpg)

[2016-02-16 05:44] alama commented on #177
What is so hard on reading the [Wiki about the Translations plugin?](https://github.com/cyberkitsune/PSO2Proxy/wiki/Enabling-Proxy-end-Translations)

[2016-02-16 05:50] alama commented on #177
Just to note: you need a [paid Google account](https://cloud.google.com/translate/v2/pricing) or sign for a MS Azure account and have [free 2M chars/month](https://www.microsoft.com/en-us/translator/getstarted.aspx), you will need to add the API key into the translation config file

[2016-02-16 06:27] EXOxNet commented on #177
In MS Azure...
I have trouble in "Register your application"
where in the :
-Client ID
-Redirect URI
-Enable/Disable subdomain access?

[2016-02-16 06:43] acffordyce973 commented on #175
I seriously doubt that PSO2Proxy Public users are going to want to know when someone logs in or out. It would create too much spam on the public server and should really stay like the game designed it, for friends only. It would work for private servers though.

[2016-02-16 07:03] alama commented on #177
what so hard of thinking for yourself?
Client ID: just give the name of the Proxy, for my exp, I will name it "MyClientID"
Name: PSO2Proxy
Client secret: Save this secret for later, for my exp, I have it "MyClientsecret"
Redirect URI: you are not being using the BING API for consent flow (Web site usage), just give any vaild URL, anything will do
Enable/Disable subdomain access: again,for using fo

[2016-02-16 07:18] EXOxNet commented on #177
Ok, thanks for helping.

[2016-02-16 07:18] #177 closed

[2016-02-16 07:27] #175 closed

[2016-03-15 05:16] belldandu opened #178 "[GChat] CPU usage skyrockets when IRC fails to connect"
I don't know what update caused this nor do i think i want to know but. I Started the Proxy on my server 12 hours ago. I come back and log into vultr and see 100% cpu usage and WAY more bandwidth usage then my server has ever had before (like 120GB in a day).
I looked at htop and it showed PSO2Proxy is the culprit for the CPU usage. It may just be a side effect of whatever the proxy is doing to us

[2016-03-15 05:26] alama commented on #178
Missing information:
OS?
Python version?
Twised version?
Anything installed by PIP?
GIT Rev?
Any plugin enabled?

WE ARE NOT MIND READER!

You can trigger the profile command to see what function eating the CPU
And dumptraceback commans to see the currect stack..

[2016-03-15 17:54] kamijoutouma commented on #178
Oh yeah i was extremely tired when i made this.

OS: Debian Jessie 8.3
Python version: 2.7.9-1
Twister version: 14.0.2-3
Pip list:
[code]
GIT rev: 1dd9641a3284bf3cd32ef799ec21ce74089243e6

Plugins enabled: EQ_Notice, Translate, WebAPI, whitelist

Ran the profile command
ran dumptraceback

[code]

[2016-03-15 20:57] alama commented on #178
you need to run the profile command again so it will dump the profiling data to a file and turn off the profiling mode

[2016-03-15 20:58] cyberkitsune commented on #178
@kamijoutouma also how many people are on the proxy during these spikes? is this during EQs or other popular events?

[2016-03-15 20:59] alama commented on #178
Also, you may want to turn off the "Translate" plugin, if a user have it on, it will send out the chat to Google/Bing almost everything said will be sent to them webservices

[2016-03-15 23:27] kamijoutouma commented on #178
@cyberkitsune No one is on at all it's a private proxy to which i only have given 2 other people access and they weren't online. No one was using the proxy it was just sitting there.

@alama I use the translate option and they do too we don't have an issue with it.
Will do that was wondering why there was no file.

[2016-03-15 23:30] kamijoutouma commented on #178
[profile_1458084463.txt](https://github.com/cyberkitsune/PSO2Proxy/files/175023/profile_1458084463.txt)
There @alama @cyberkitsune

[2016-03-15 23:34] kamijoutouma commented on #178
[profile_1458084463.txt](https://github.com/cyberkitsune/PSO2Proxy/files/175023/profile_1458084463.txt)
There @alama @cyberkitsune

[2016-03-15 23:34] kamijoutouma commented on #178
LMFAO i did not mean to click that

[2016-03-15 23:38] cyberkitsune commented on #178
` 15403985   23.695    0.000 1873.342    0.000 /home/touma/PSO2Proxy/proxy/plugins/GlobalChat.py:184(clientConnectionFailed)`

Does disabling gchat reduce the CPU load?

[2016-03-15 23:39] kamijoutouma commented on #178
Hmm That makes me wonder if the chat it was connecting to is down and sec will check.

[2016-03-15 23:49] kamijoutouma commented on #178
Yep irc.thetechshed.com is down.
and yes it does.

Can we like make an exception for when the proxy can't connect so that this weird problem doesn't happen?
@cyberkitsune @alama

[2016-03-16 00:54] kamijoutouma commented on #178
Just a heads up after doing a htop -d 2 i noticed that every now and then without the gchat plugin that the cpu usage spontaniously spikes at random intervals to 10-50% only for a second and goes down. Not sure why.

[2016-03-17 03:06] alama commented on #178
@kamijoutouma does disabled EQ_Notice plugin drop the random spikes? by default, it setup a timer to fire up every 60 seconds (the timer can go off every 60 to 120 seconds) and on player login, it check the player database if the user have the notice plugin enabled, it may spike up CPU time to do that

[2016-04-01 18:30] kamijoutouma commented on #178
Thought i had replied to this and yes.

[2016-05-29 10:13] sukuraumono opened #184 "Cannot uninstall PSO2Proxy"
Because I want to uninstall PSO2Proxy, I removed "publickey.blob", "ddraw.dll", "rsainject.dll" from bin folder. But this didn't work and got warning

 "PSO2Proxy: Either PSO2Proxy is not configured correctly on your computer or you are trying to connect using a PS4 console.".

So, I uninstalled whole PSO2 and reinstalled it. But somehow, i got same warning.
How should I uninstall PSO2Proxy correc

[2016-05-29 10:40] acffordyce973 commented on #184
You don't 'uninstall' PSO2Proxy.

If you're using the Tweaker then:
Orb Menu > Other Tasks > Revert PSO2Proxy Settings to JP.

If you've configured it manually then yes, you need to delete the files you mentioned but you will also need to edit your 'hosts' file and remove the proxy entries from there.

[2016-05-29 12:33] sukuraumono commented on #184
thanks, i found my mistake in saving hosts file. and now i finally succeeded.

[2016-06-03 04:40] VariantXYZ opened #186 "GChat Toggle"
There should be a way for people to toggle sending to GChat.

E.g.) !gchaton makes every message sent to some channel go to gchat instead.

[2016-06-09 09:53] belldandu commented on #184
@sukuraumono you should close this issue then since @acffordyce973 was able to help you solve your issue.

[2016-06-09 10:00] belldandu commented on #186
If your referring to the global chat in pso2 then yes you can already do this.
https://github.com/cyberkitsune/PSO2Proxy/wiki/Commands#all-users
Read the part about !gmode

If your referring to the irc chat (if you are running your own PSO2Proxy). Just disabled the IRC plugin in `PSO2Proxy/proxy/cfg/gchat-irc.config.yml` by changing "enabled" to false. You will need to reload the plugin afterwards

[2016-06-09 11:15] #184 closed

[2016-06-09 11:27] acffordyce973 commented on #186
What they're referring to is being able to send messages to gchat while omitting the "!g"

[2016-06-11 23:51] brobrobro187 opened #189 "pso2 authenticating sega id ISSUE still"
tryed doing all the steps on your WIKI.

The only odd thing is the part: In command prompt, run ping cloud02.cyberkitsune.net, then ping gs001.pso2gs.net and check the results.

ping cloud02.cyberkitsune.net

It Fails everytime. I played pso2 with the tweaker for a few weeks with no issues, and out of the blue this nightmare has started and not stopped. I have spend 2 days on this and i think i pu

[2016-06-12 00:17] brobrobro187 commented on #189
I just read someone saying to "Check your files in PSO2Tweaker. The arks layer installer leaves you a version behind."

But im not sure what that means.

[2016-06-12 01:10] alama commented on #189
Ok, I going to point you to IRC support chat room, irc://irc.rustedlogic.net/#PSO2Proxypublic (no IRC client?  http://widget.mibbit.com/?server=irc.rustedlogic.net&channel=%23PSO2Proxypublic)
This for forum is for the support of the proxy software, NOT of the public proxy

[2016-06-12 11:22] acffordyce973 commented on #189
Yea, come to our IRC channel as @alama said above.

[2016-06-12 11:22] #189 closed

[2016-06-12 11:36] brobrobro187 commented on #189
I gave up and deleted the game. If i ever feel like wasting my time with another SEGA game i will let you know. Thanks for your offer though 😁

[2016-06-16 03:15] YielShelion opened #190 "Retrieve current player's character name?"
I modified your proxy for personal use and I need to retrieve current character name to be listed in !clients. How do I do this?

[2016-06-16 03:36] alama commented on #190
Realy, With what changes? ANYWAYS;
And to get the current character name, you getting to have dump and decode the packets used at Character Select screen?

[2016-06-16 03:43] YielShelion commented on #190
I connected the proxy with a Telegram bot account so I can use commands and chat via telegram.
Currently global chat connection to telegram group, etc.
Now I am trying to implement "!clients" to work via telegram chat.
The original !clients command lists all data from all connected clients, such as IP, SEGA ID, user ID, block and such.
It works for me now via telegram chat but I just want to add a

[2016-06-16 04:22] alama commented on #190
No, we do not have any code to parse the char select screen data and keep it with the player connection object.

The only data useful to humans was/are the playerid and segaid from the SEGAID login packet, because it useful to add to the ban/whitelist lists.

[2016-07-29 02:21] nugiedragon opened #191 "Proxy error, dont know what to do"
![error need help](https://cloud.githubusercontent.com/assets/20715669/17235748/b40858a4-556d-11e6-9a12-e96ffbc01e64.png)

[2016-07-29 16:16] TheCrimsonDevil commented on #191
Make sure you have .NET 4.5 installed, and please post a link to your
logfile.txt.

On Jul 28, 2016 10:21 PM, "nugiedragon" <notifications@github.com> wrote:

[2016-08-01 08:50] acffordyce973 commented on #191
This issue section is for the PSO2Proxy software only. Client connection issues, particularly for another piece of software (Tweaker), should be taken to our IRC channel.
irc://irc.badnik.zone/#PSO2Proxypublic
Or if you don't have a client: http://widget.mibbit.com/?server=irc.badnik.zone&channel=%23PSO2Proxypublic

[2016-08-01 08:50] #191 closed

[2016-08-09 09:58] acffordyce973 opened #192 "GIRC Users capable of opening a message box in-game"
By prefixing an IRC message with special characters ("👉 👌" in our tests) a GIRC user is capable of opening a message box and displaying a message to users who have global chat enabled. This is an abusable bug which is capable of stopping player movement when the message box appears and should be looked into asap.
IRC Message example: 👉 👌 This is a test.
Images: http://i.imgur.com/UzXQtMy.jpg http:

[2016-08-09 09:59] acffordyce973 commented on #192
@alama might be able to take a look.

[2016-08-09 12:46] acffordyce973 commented on #192
Apparently as long as the IRC message contains the characters at any point it'll send it as a message box to in-game users.

[2016-08-09 22:28] acffordyce973 commented on #192
Also seems to be limited to system chat mode only.

[2016-08-09 22:30] cyberkitsune commented on #192
This is likely due to the fact that those unicode characters as bytes are control codes for the message packet. We could potentially limited the character scope to filter out any weird characters?

[2016-08-09 23:20] alama commented on #192
https://github.com/alama/PSO2Proxy/commit/e2d53911036e4c90fe4b4c80a2bb1631f0672985

[2016-08-10 05:30] #192 closed

[2016-08-10 05:38] alama commented on #192
Why close this? the issue is that a gchat system message with some "funny" unicode bytes trigger this bug, we need to check the unicode table or have some code to filter out by byte and still have 'clear" unicode string

[2016-08-16 00:40] #190 closed

[2016-08-16 00:48] YielShelion opened #194 "EQ notification"
First of all I have to say sorry for posting this as an issue

I have modified the EQ_notice plugin for my server and integrated it telegram bot to it so it also send EQ notification to the bot subscriber which would be sent to all bot subscriber.

I tried to share my contribution to the community so they can use it as well and I think everyone will be happy for it.

However I am accused for not a

[2016-08-16 00:59] cyberkitsune commented on #194
I'm unsure of what @acffordyce973 licences his data under. I will check with him for clarification.
Otherwise, the telegram bot sounds neat! If it's a modification of the EQ notice plugin it'd be cook if you forked pso2proxy and uploaded your changes into your own repo / branch (feel free to remove any telegram API keys from the python script if they are hardcoded.)

[2016-08-16 01:19] YielShelion commented on #194
Thanks for the quick reply!

I have also modified globalchat to 3 way chat telegram-pso2-irc but it is not fully completed yet (I don't use IRC so I haven't tested it yet) but telegram-pso2 is fully functional now.
I am really new in github and python coding so I think I would need help forking my code to the repository because it is really hardcoded and I don't understand most of your codes too.

[2016-08-16 01:19] YielShelion commented on #194
Didn't mean to press that button.

[2016-08-16 01:57] TheCrimsonDevil commented on #194
Just to clarify - Who accused you of not asking for permission to use ACF's
server?

On Aug 15, 2016 9:19 PM, "YielShelion" <notifications@github.com> wrote:

[2016-08-16 02:09] YielShelion commented on #194
Sirius-91

http://www.pso-world.com/forums/showthread.php?236304-Telegram-Bot-EQ-notification-in-your-phone!

[2016-08-16 05:49] acffordyce973 commented on #194
The data is made available for both PSO2Proxy and PSO2 Alert users. These I don't mind because both are open source and I am able to see exactly what they are asking from my server in their request. I do agree with Sirius in that if you are modifying the use of the data away from PSO2 Proxy into a standalone bot it is polite to ask for permission. The data was made available to show notifications

[2016-08-16 06:02] YielShelion commented on #194
Thanks for the full clarification.

1. The bot is not standalone, it is merged with the plugins itslef
2. I will try to make it publicly available later time
3. It is only one server. With one request per minute. No worry, I keep an eye on the resource usage!

Thanks again, this should clear everythings up now.

[2016-08-16 06:07] YielShelion commented on #194
Okay, @acffordyce973, May I ask your permission to use your server's resource? I would be using only one request per minute as the EQ request was not modified.

[2016-08-16 08:43] acffordyce973 commented on #194
Yes, feel free to use it for as you stated.

[2016-08-16 10:36] YielShelion commented on #194
Thanks a lot!

[2016-08-16 10:36] #194 closed

[2016-10-07 02:48] tommyahugo opened #196 "Error 630 on Expert Blocks"
The update on October 5th add new blocks call Expert Block from B14 to B21. Everytime I try to access to these blocks I got error 630. In PSO world and facebook group it seem those who use proxy also have the same problem. They also specified that it is this proxy because Seiryl's proxy work fine.

[2016-10-07 04:38] alama commented on #196
Already fixed in https://github.com/cyberkitsune/PSO2Proxy/pull/195

[2016-10-07 04:59] tommyahugo commented on #196
Sorry but I still have the issue. Do i have to do any extra step?

[2016-10-07 08:34] acffordyce973 commented on #196
The public proxy has yet to be restarted to update to the fixed version (it's hard to find a time to not inconvenience so many users) hence why the issue is still occurring here. Smaller proxies will obviously have an easier time restarting and can update to the latest version quicker (hence why Seiryl is working).

[2016-10-07 08:46] tommyahugo commented on #196
Ah, ok, then I guess the issue is solved now.

[2016-10-07 08:46] #196 closed

[2016-12-09 10:54] YielShelion opened #204 "[EQ Alert] Bad API response, 'ascii' codec can't encode character u'\xf1' in position 175149: ordinal not in range(128)"
[code]
This errors happens around after Dec 3, 2016. Works fine before mentioned date.

[2016-12-09 11:50] alama commented on #204
Which EQ plugin? And the config file?

[2016-12-10 15:59] YielShelion commented on #204
Latest modified EQ Alert. Default config file.
Happened to unmodified one as well.

The problem doesn't occur anymore...
Maybe its the API that has the problem and fixed itself.

[2016-12-10 16:06] alama commented on #204
Are you sure?, the cookie details show that the plugin trying to go to a GoDaddy domain, WHY?

please paste your `cfg/EQ_Alert.config.yml` file

[2016-12-10 16:35] YielShelion commented on #204
Yeah I noticed that. The problem is solved now though.
This is the normal cookie that should be received.
[code]

Config is unmodified/default.
cfg/EQ_Alert.config.yml
[code]

[2016-12-10 16:38] alama commented on #204
So, so, I am betting pso2.acf.me.uk was under renewing review (Explain why BASICDev was give issues for EQ notices as well), so, this issue is closed?

[2016-12-10 16:48] YielShelion commented on #204
Closed, I guess.

[2016-12-10 16:48] #204 closed

[2017-03-08 12:00] HunterGraubard opened #206 "Cannot move to the new battle blocks"
Attempting to move to a battle block fails. Could we get a fix for this please?

[2017-05-04 01:48] frkami123 commented on #206
this could be fix by open a few certain ports but disconnect when join pvp game.

[2017-05-21 01:50] manuel999999 opened #208 "[EQ Alert] Bad API response, 'utf8' codec can't decode byte 0xff in position 0: invalid start byte"
been trying to fix EQ Alert.
the error is,

[EQ Alert Debug] Checking URL Headers...
[EQ Alert Debug] [('X-Bytes-Saved', ['8983']),
 ('X-Nc', ['HIT nrt 16']),
 ('X-Content-Type-Options', ['nosniff']),
 ('Expires', ['Mon, 15 Apr 2019 10:04:48 GMT']),
 ('Vary', ['Accept']),
 ('Server', ['nginx']),
 ('Last-Modified', ['Fri, 14 Apr 2017 22:04:48 GMT']),
 ('ETag', ['"1feda5c56eb2e770"']),
 ('Link',
  [

[2017-05-24 09:24] #208 closed

[2017-06-17 08:06] noviarrs commented on #206
help... how to edit script move to the new battle blocks auto disconnect when join pvp game.. idk port and address battleship :3

[2017-10-03 01:35] KinaiPCP opened #210 "solved"
solved

[2017-10-03 08:06] #210 closed

[2017-10-04 13:25] KinaiPCP opened #211 "Command Ban and Unban error?"
when I use the command (ban or unban) always displays the wrong command.

[2017-10-04 13:33] KinaiPCP commented on #211
Oh rip... this is wrong params...
!ban segaid <Segaid> lel i think !ban <segaid> <value> xD

[2017-10-04 13:33] #211 closed

[2017-10-15 16:25] tessar9070 commented on #211
ah maaf saya jarang membuka email. dan ini maksut dari ban itu apa ?
2017-10-04 20:33 GMT+07:00 Kinai <notifications@github.com>:

[2017-10-25 12:35] NoviarRS opened #212 "[ERROR] Game Crash when use Gchat"
anyone can help this problem :3

[2018-04-29 13:49] mciicrw opened #213 "unable to load Public Key"
when i want to convert SEGAKey.blob to SEGAKey.pem it says `unable to load Public Key`
anyone can help?
i use DLL method because the tweaker method is can no longer generate the SEGAKey.blob

[2020-07-24 01:39] cyberkitsune opened #218 "NA Support"
NA (and potentially NGS) use a different protocol. Support for that should be added in.

This acts as a tracking bug for PSO2-NG support

[2020-08-01 20:19] gesori-pro opened #219 "Every commands is not working in PSO2"
![image](https://user-images.githubusercontent.com/29522474/89109774-4910e300-d47f-11ea-8220-2a7b2516492a.png)
![image](https://user-images.githubusercontent.com/29522474/89109803-7bbadb80-d47f-11ea-912e-0a454a9aae96.png)
Every commands is not working in PSO2 now
I tried to use commands in Proxy Consoles
What should I do?

[2020-08-02 05:55] Lapig commented on #218
NA protocol is identical to JP, shipservers are on 78 and blockservers are on 79

[2020-08-02 08:34] #219 closed, assigned to nobody

[2020-08-02 21:21] cyberkitsune commented on #219
Hey I saw you closed this bug, did you resolve your issue?

[2020-08-02 21:21] cyberkitsune commented on #218
@Lapig I heard the crypto was different; Do you know if that is the case?

[2020-08-03 01:48] Lapig commented on #218
nah the core crypto hasn't changed just login process has been shuffled around a bit in removing the sega id box but beyond that every packet structure is almost exactly the same as live jp, chat and the block packet being the two slight differences i've noticed

[2020-08-26 10:09] gesori-pro commented on #219
oh sorry for late reply yeah I solved this one but when I using G chat, it's showing like first picture.
but atleaset that command is works

[2020-09-09 02:32] noisefloordev commented on #218
Is it working for Steam NA?  I poked at it a bit and didn't see any DNS requests for gs001.pso2gs.net, etc., so I'm not sure if different hosts need to be redirected (are those the JP servers?), or if the injector is up to date for that version.  I'd like to try it out.

(Tried to ask on IRC, but ironically the IRC server you use blocks my IRC proxy...)

[2021-06-16 00:49] #178 closed

[2021-06-16 00:49] #212 closed

[2021-06-16 00:49] cyberkitsune commented on #212
Not enough info

[2021-06-16 00:50] #206 closed

[2021-06-16 00:50] cyberkitsune commented on #206
closing pending protocol changes

[2021-06-16 00:51] cyberkitsune opened #221 "NGS Support"
WIP PR: #220

[2021-06-16 00:51] cyberkitsune commented on #186
Once #221 is done maybe this can be added in